

//font for logo
$h1: 'Helvetica Neue', sans-serif;
//font for headings
$h3: 'Helvetica Neue', sans-serif;
//font for content
$p: 'helvetica ad', sans-serif;

// $logoClr
$NavBg: black;
$NavClr: white;
$sidebarBg: grey;
$sidebarClr: white;
$blogBg: brown;
// $blogClr

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p{
        font-family: $p;
    }
    h3{
        font-family: $h3;
    }
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $NavBg;
    color: $NavClr;
    align-items: center;
    padding: 1.2rem 2rem;
    
    .corner{
        display: flex;
        justify-content: space-between;
        width: 25%;
    }
}

.container{
    display: flex;

    .sidebar{
        background-color: $sidebarBg;
        color: $sidebarClr;
        max-width: 10%;
        min-height: 100vh;
        padding-top: 2rem;
        h3{
            padding: 1.5rem 1rem;
        }
    }

    .blog-container {
        background-color: $blogBg;
        flex: 1;
    }
}